ul#meme_gallery {
    margin-top: 0 auto;
    padding: 0;
    list-style-type: none;
    width: 90%;
    font-family: sans-serif;
    height: 300px;
}

img.memes {
    border: 1px solid grey;
}

a.memes {
    text-decoration:none;
}

p.meme_link {
    text-decoration: none;
    font-family: sans-serif;
    border: none;
    color: black;
    background-color: #dedede;
    padding: 2px;
    border-radius: 2px;
    width: 200px;
}

p.meme_link:hover {
    background-color: #c4c4c4;
}

ul#meme_gallery li {
    float: left;
    margin: 5px;
    height: 90%;
}

ul#meme_gallery li p {
    text-align: center;
    margin: 5px 0;
}
